.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 8px 20px;

  font: inherit;
  font-weight: 600;
  letter-spacing: inherit;
  color: $color-default-white;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background-color: $color-primary-600;
  border: 1px solid $color-primary-600;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color $trans-default, outline-offset $trans-default;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &:disabled {
    background-color: $color-primary-200;
    border-color: $color-primary-200;

    pointer-events: none;
    cursor: not-allowed;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-primary-700;
      border: 1px solid $color-primary-700;
    }
  }

  &--light {
    color: $color-gray-700;

    background-color: $color-default-white;
    border-color: $color-gray-300;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-gray-50;
        border-color: $color-gray-300;
      }
    }
  }
}

:where(button):where(:not(:active)):focus-visible {
  outline-offset: 4px;
}

:where(button) > :where(svg) {
  width: 24px;
  height: 24px;

  flex-shrink: 0;
}
